<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR. - 500 Something went wrong</title>
    <link rel="icon" type="image/gif/png" href="/imgs/icon.png">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/mainstyle.css" rel="stylesheet">
</head>

<body>
    <div class="not-found">
        
            <div class="row">
                <div class="col-lg-7">
                    <div class="not-info">
                        <h1>500</h1>
                        <p>Server Error</p>
                        <p>I'm very sorry it's my fault not yours</p>
                        <a href="/" class="btn">GO HOME</a>
                    </div>
                </div>

                <div class="col-lg-5">
                    <img src="/imgs/art/fluid/2.jpg" alt="">
                </div>
            </div>
    </div>
</body>
</html>