<%- include('includes/head.ejs') %>


    <!--Start Content-->
    <div class="content">
        <!--Strat Header-->
        <header>
            <div class="container">
                <h2>
                    Know more about me
                </h2>
                <p><a href="https://www.behance.net/jounior1" target="_blank">Behance</a></p>

            </div>
        </header>
        <!--End Header-->


        <!--Start Contact Information-->
        <div class="about-me">
            <div class="row">
                <div class="col-lg-5">
                    <img class="contact-cover" src="imgs/about.jfif">
                </div>

                <div class="col-lg-7">
                    <div class="about-info">
                        <p>My name is Mohamed Ashraf(JR.), I'm a digitial and visual artisit based in Egypt, Suez, I have been working as a freelancer for two years now and I'm willing to do more not just freelancing</p>
                        <p>i'm always trying to change the world's prespective through my artworks, and i have the ability to create the picture of how I see the world and the surroundings</p>
                    </div>
                </div>
            </div>
        </div>
        <!--End Contact Information-->


    </div>

    <%- include('includes/end.ejs') %>
