<%- include('includes/head.ejs') %>


    <!--Start Content-->
    <div class="content">
        <!--Strat Header-->
        <header>
            <div class="container">
                <h2>
                    Make a Call !!
                </h2>
                <p><a href="https://www.behance.net/jounior1" target="_blank">Behance</a></p>

            </div>
        </header>
        <!--End Header-->


        <!--Start Contact Information-->
        <div class="contact-me">
            <div class="row">
                <div class="col-lg-5">
                    <img class="contact-cover" src="/imgs/art/fluid/2.jpg">
                </div>

                <div class="col-lg-7">
                    <div class="contact-card">
                        <div class="profile-info">
                            <img src="/imgs/personal.jfif">
                            <p>JR. (Mohamed Ashraf)</p>
                        </div>

                        <div class="contact-info">
                            <p>you can always reach me at</p>
                            <span><i class="ti-email"></i>m7mdjo12@gmail.com</span>
                            <span><i class="ti-mobile"></i>+20 109 584 1220</span>
                            <p>also don't forget to check out my social media</p>

                            <ul class="list-unstyled">
                                <li><a href="">facebook</a></li>
                                <li><a href="">instagram</a></li>
                                <li><a href="">twitter</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Contact Information-->


    </div>

    <!--End Content-->

    <!--Start Loading Screen-->
    <div class="main-loading">
        <div class="loading">
            <div class="spinner"></div>
        </div>
    </div>
    <!--End Loading Screen-->
    <!--Javascript files-->

    <%- include('includes/end.ejs') %>
