
$mainColor:#262626;
$secondColor:#ecbf00;
$whiteColor:#ffffff;
$productColor :#969696;
$headColor:#3a3838;
$toggleColor:#363535;

//Media Query Variables

$mobileSize:"only screen and (min-width: 767px)";
$smallSize:"only screen and (max-width:768px)";
$mediumSize:"only screen and (max-width:992px)";
$largeSize:"only screen and (max-width:1200px)";
