
.about-me {
    padding: 50px 20px;

    img {
        width: 100%;
        padding: 20px;
    }

    .about-info {
        margin: 30px;
        font-size: 19px;
    }
}

.insta-feed {
    margin: 45px;
    text-transform: uppercase;
    color: #000;
}